.product {
  border: 2px solid #e9f1ef;
  border-radius: 8px;
  margin-top: 16px;
  background: #ffffff;
}

.product-navigation {
  h3 {
    font-size: 16px;
    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;

    svg {
      background-color: #011b1b0d;
      border-radius: 9999px;
      min-width: 24px;
      width: 24px;
      height: 24px;
      transform: rotate(-90deg);
      transition: transform 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .close-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
  }
}

.product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 16px 16px 16px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.image {
  margin-right: 16px;

  img {
    max-width: 56px;
    height: auto;
  }
}

.learn-more {
  display: block;
  color: #78e3df;
  text-decoration: underline;
}
